@page "/signin"

@using System.IdentityModel.Tokens.Jwt
@using System.Security.Claims
@using BlazorSecretManager.Components.Layout
@using BlazorSecretManager.Infrastructure
@using BlazorSecretManager.Services.Auth.Abstracts
@using BlazorSecretManager.Services.Auth.Requests
@using eXtensionSharp
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Server.Circuits
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using MudComposite
@using SecretManager
@using Color = MudBlazor.Color

@rendermode InteractiveAuto

@layout LoginLayout

@attribute [AllowAnonymous]

<AuthorizeView>
    <Authorized>
        <h5>You are authenticated. Access is denied.</h5>
    </Authorized>
    <NotAuthorized>
        <EditForm Model="@_loginRequest">
            <ChildContent Context="None">
                <DataAnnotationsValidator/>
                <MudGrid Class="d-flex justify-center flex-grow-1 gap-4 align-center" Style="height: 80vh;" >
                    <MudItem xs="12" sm="7">
                        <MudCard>
                            <MudCardContent>
                                <MudTextField Label="Email" Class="mt-3"
                                              @bind-Value="_loginRequest.Email" For="@(() => _loginRequest.Email)"/>
                                <MudTextField Label="Password" Class="mt-3"
                                              @bind-Value="_loginRequest.Password" For="@(() => _loginRequest.Password)" InputType="InputType.Password"/>
                            </MudCardContent>
                            <MudCardActions>
                                <br/><br/>
                                <MudGrid Class="d-flex justify-end flex-grow-1 gap-4">
                                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" OnClick="HandleSignIn">Sign In</MudButton>
                                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" OnClick="HandleSignUp">Sign Up</MudButton>
                                </MudGrid>
                            </MudCardActions>
                        </MudCard>
                    </MudItem>
                </MudGrid>
            </ChildContent>
        </EditForm>
    </NotAuthorized>
</AuthorizeView>

@inject ISnackbar Snackbar;
@inject ProtectedSessionStorage ProtectedSessionStore;
@inject IAuthService AuthService;
@inject IUserConnectionService UserConnectionService;
@inject CircuitHandler CircuitHandler;

@code {
    [CascadingParameter] Task<AuthenticationState> AuthState { get; set; }
    [Inject] CustomAuthStateProvider _authStateProvider { get; set; }
    [Inject] NavigationManager _navigationManager { get; set; }
    
    LoginRequest _loginRequest = new();

    private async Task HandleSignIn()
    {
        if (string.IsNullOrWhiteSpace(_loginRequest.Email) || string.IsNullOrWhiteSpace(_loginRequest.Password))
        {
            return;
        }

        var result = await AuthenticateUser(_loginRequest.Email, _loginRequest.Password);
        if (result.Succeeded.xIsFalse())
        {
            Snackbar.Add(result.Messages.xJoin(), Severity.Error);
            Snackbar.Add("request administrator", Severity.Info);
            return;
        }
        
        if (result.Data.xIsEmpty())
        {
            Snackbar.Add("request administrator", Severity.Info);
            return;
        }
        
        var jwtToken = new JwtSecurityToken(result.Data);
        var identity = new ClaimsIdentity(jwtToken.Claims, Constants.JwtCacheKey);
        var user = new ClaimsPrincipal(identity);
        var userId = user.Claims.First(m => m.Type == ClaimTypes.NameIdentifier).Value;
        var email = user.Claims.First(m => m.Type == ClaimTypes.Email).Value;
        var name = user.Claims.First(m => m.Type == ClaimTypes.Name).Value;
        var key = user.Claims.First(m => m.Type == ClaimTypes.PrimarySid).Value;
        var phone = user.Claims.First(m => m.Type == ClaimTypes.MobilePhone).Value;
        var role = user.Claims.First(m => m.Type == ClaimTypes.Role).Value;
        var session = new UserSession()
        {
            UserId = userId,
            Email = email,
            Name = name,
            Phone = phone,
            Role = role,
            UserKey = key,
            ConnectionId = CircuitHandler.xAs<CustomCircuitHandler>().ConnectionId
        };
        if (UserConnectionService.AlreadyExists(userId))
        {
            Snackbar.Add("request administrator", Severity.Info);
            return;
        }
        
        UserConnectionService.AddUser(session);
        // 확장 함수를 통해 토큰 암호화 후 localStorage에 저장
        await ProtectedSessionStore.SetAsync(Constants.JwtCacheKey, result.Data);
        _authStateProvider.NotifyUserAuthentication(user);
        StateHasChanged();
        _navigationManager.NavigateTo("/", false);
    }
    
    private async Task<Results<string>> AuthenticateUser(string email, string password)
    {
        await Task.Delay(1);

        return await AuthService.SignIn(email, password);
    }

    void HandleSignUp()
    {
        _navigationManager.NavigateTo("/signup", true);
    }
}